<head>
  <title>Test de Escala de Ansiedad</title>
</head>
<body>
    <div class="form-container">
        <h2>Registro de Paciente</h2>
            <div class="form-group">
                <label for="pregunta1">Nombres:</label>
                <textarea name="pregunta1" required></textarea>
            </div>
            <div class="form-group">
                <label for="pregunta2">Apellidos:</label>
                <textarea name="pregunta2" required></textarea>
            </div>
            <div class="form-group">
                <label for="pregunta3">Telefono:</label>
                <textarea name="pregunta3" required></textarea>
            </div>
            <div class="form-group">
                <label for="pregunta4">Direccion:</label>
                <textarea name="pregunta4" required></textarea>
            </div>
            <div class="form-group">
                <label for="pregunta5">Correo institucional:</label>
                <textarea name="pregunta5" required></textarea>
            </div>
            <div class="form-group">
                <button onclick="window.location.href='/test-ansiedad'">Empezar Test</button>
            </div>
    </div>
</body>