<body>
  <div class="announcement-container">
      <h2>Acerca de nosotros</h2>
      <p>En SISVITA, nuestra misión es facilitar un entorno educativo más saludable y productivo para los estudiantes universitarios mediante la identificación y gestión de los niveles de ansiedad. Somos una empresa comprometida con la salud mental y el bienestar de la comunidad estudiantil, ofreciendo soluciones basadas en enfoques personalizados.</p>
      <p>Si siente que sus niveles de ansiedad y estrés son altos, empiece nuestro test para identificarlos. Si se encuentra en niveles altos, se le auto-asignará un especialista para ayudar con sus problemas. Para empezar, pulse el botón de emergencia.</p>
      <div class="form-group">
          <button onclick="window.location.href='/registrar-paciente'">S.O.S.</button>
      </div>
  </div>
</body>
