<body>
    <div class="form-container">
        <h2>Test de Escala de Ansiedad</h2>
        <div class="form-group">
            <label for="pregunta1">1.- ¿Cómo calificarías tu nivel de ansiedad debido a tus responsabilidades académicas y personales en la universidad?</label>
            <div class="options">
                <label><input type="radio" name="pregunta1" value="ausente" required> Ausente</label>
                <label><input type="radio" name="pregunta1" value="leve"> Leve</label>
                <label><input type="radio" name="pregunta1" value="moderado"> Moderado</label>
                <label><input type="radio" name="pregunta1" value="grave"> Grave</label>
                <label><input type="radio" name="pregunta1" value="muy grave"> Muy grave</label>
            </div>
        </div>
        <div class="form-group">
            <label for="pregunta2">2.- ¿Cuánta tensión sientes actualmente en tu vida universitaria?</label>
            <div class="options">
                <label><input type="radio" name="pregunta2" value="ausente" required> Ausente</label>
                <label><input type="radio" name="pregunta2" value="leve"> Leve</label>
                <label><input type="radio" name="pregunta2" value="moderado"> Moderado</label>
                <label><input type="radio" name="pregunta2" value="grave"> Grave</label>
                <label><input type="radio" name="pregunta2" value="muy grave"> Muy grave</label>
            </div>
        </div>
        <div class="form-group">
            <label for="pregunta3">3.- ¿Qué nivel estás experimentando de acuerdo a tus temores relacionados con tus estudios en este momento?</label>
            <div class="options">
                <label><input type="radio" name="pregunta3" value="ausente" required> Ausente</label>
                <label><input type="radio" name="pregunta3" value="leve"> Leve</label>
                <label><input type="radio" name="pregunta3" value="moderado"> Moderado</label>
                <label><input type="radio" name="pregunta3" value="grave"> Grave</label>
                <label><input type="radio" name="pregunta3" value="muy grave"> Muy grave</label>
            </div>
        </div>
        <div class="form-group">
            <label for="pregunta4">4.- ¿Cómo calificarías la duración de tu sueño recientemente?</label>
            <div class="options">
                <label><input type="radio" name="pregunta4" value="ausente" required> Ausente</label>
                <label><input type="radio" name="pregunta4" value="leve"> Leve</label>
                <label><input type="radio" name="pregunta4" value="moderado"> Moderado</label>
                <label><input type="radio" name="pregunta4" value="grave"> Grave</label>
                <label><input type="radio" name="pregunta4" value="muy grave"> Muy grave</label>
            </div>
        </div>
        <div class="form-group">
            <label for="pregunta5">5.- ¿Cómo calificarías tu satisfacción con tu desempeño intelectual en la universidad?</label>
            <div class="options">
                <label><input type="radio" name="pregunta5" value="ausente" required> Ausente</label>
                <label><input type="radio" name="pregunta5" value="leve"> Leve</label>
                <label><input type="radio" name="pregunta5" value="moderado"> Moderado</label>
                <label><input type="radio" name="pregunta5" value="grave"> Grave</label>
                <label><input type="radio" name="pregunta5" value="muy grave"> Muy grave</label>
            </div>
        </div>
        <div class="form-group">
            <label for="pregunta5">6.- ¿Cómo calificarías tu estado de ánimo en los últimos días?</label>
            <div class="options">
                <label><input type="radio" name="pregunta6" value="ausente" required> Ausente</label>
                <label><input type="radio" name="pregunta6" value="leve"> Leve</label>
                <label><input type="radio" name="pregunta6" value="moderado"> Moderado</label>
                <label><input type="radio" name="pregunta6" value="grave"> Grave</label>
                <label><input type="radio" name="pregunta6" value="muy grave"> Muy grave</label>
            </div>
        </div>
        <div class="form-group">
            <label for="pregunta5">7.- ¿Cómo calificarías tu comportamiento general y tu respuesta fisiológica durante la entrevista?</label>
            <div class="options">
                <label><input type="radio" name="pregunta7" value="ausente" required> Ausente</label>
                <label><input type="radio" name="pregunta7" value="leve"> Leve</label>
                <label><input type="radio" name="pregunta7" value="moderado"> Moderado</label>
                <label><input type="radio" name="pregunta7" value="grave"> Grave</label>
                <label><input type="radio" name="pregunta7" value="muy grave"> Muy grave</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit">Enviar</button>
        </div>
    </div>
</body>